/*== Theme Defualt CSS ==*/

.overlay {
	position: relative;
	z-index: 1;
}

.overlay:after {
	background-color: rgba(0, 0, 0, 0.8);
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.section-padding {
	padding: 10px 0;
}

.section-title {
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 30px;
}

.section-title h2 {
	margin-bottom: 10px;
	position: relative;
	text-transform: uppercase;
	font-weight: 800;
}

.section-title p {
	margin-top: 10px;
}

.section-title .title-line {
	color: #ffd000;
	position: relative;
}

.section-title .title-line::after {
	background-color: #333;
	content: "";
	height: 2px;
	left: -60px;
	position: absolute;
	top: 10px;
	width: 50px;
}

.section-title .title-line::before {
	background-color: #333;
	content: "";
	height: 2px;
	position: absolute;
	right: -60px;
	top: 10px;
	width: 50px;
}

.overlay .section-title h2,
.overlay .section-title p {
	color: #fff;
}

.overlay .section-title .title-line::after,
.overlay .section-title .title-line::before {
	background-color: #fff;
}

.scroll-top {
    bottom: 50px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 30px;
    width: 30px;
    z-index: 9999;
}

/*== Theme Defualt CSS ==*/

/*== Article Area CSS Start ==*/

.single-article {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 10px;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.col-lg-12:last-child .single-article {
	margin-bottom: 0;
}

.single-article .article-thumb {
	margin: -10px;
}

.single-article.middle .article-thumb {
	margin-right: -10px;
}

.article-thumb img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.single-article:hover .article-thumb img {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.article-body {
	position: relative;
}

.article-body h3 a {
	font-size: 20px;
    color: #333;
    text-decoration: none;
    font-weight: 800;
}

.article-meta {
	margin: 15px 0 10px;
}

.article-meta a {
	color: #999;
	font-size: 12px;
	font-weight: 600;
	margin-right: 25px;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.article-meta a span {
	color: #ffd000;
}

.article-meta a:hover {
    color: #ffd000;
    text-decoration: none;
}

.article-date {
	background-color: #ffd000;
	border-radius: 3px;
	color: #fff;
	font-weight: 700;
	height: 55px;
	margin-top: -27px;
	padding: 5px;
	position: absolute;
	text-align: center;
	width: 55px;
}

.article-date .month {
	display: block;
}

.article-body p {
	color: #999;
	line-height: 1.8;
	text-transform: capitalize;
}

.readmore-btn {
	background-color: #222;
	color: #ffd000;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	margin-top: 25px;
	padding: 12px 25px;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.readmore-btn i.fa {
	margin-left: 5px;
}

.readmore-btn:focus,
.readmore-btn:hover {
	background-color: #ffd000;
    color: #fff;
    text-decoration: none;
}

/*== Article Area CSS End ==*/

.display-table {
    height: 100%;
    width: 100%;
    display: table;
}

.display-table-cell {
    vertical-align: middle;
    display: table-cell;
}
thead th {
	text-align: center !important;
	vertical-align: middle !important;
	background-color: lightgoldenrodyellow;
}