/*********************************
12. Footer
*********************************/

.footer
{
    background: #0d0e15;  
}
.footer_content
{
	padding-top: 80px;
    padding-bottom: 25px;  
}
.footer .logo
{
	display: inline-block;
	position: relative;
	left: auto;
}
.footer_text
{
    margin-top: 40px;
	left: auto;
}
.footer_text p
{
	color: #3ac3db;
}
.social
{
	margin-top: 41px;
}
.social ul li
{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: transparent;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
    transition: all 200ms ease;
    list-style: none;
    float: right;
}
.social ul li:hover
{
	background: #ff9908;
}
.social ul li:not(:last-of-type)
{
	margin-right: 16px;
}
.social ul li a
{
	display: block;
	height: 100%;
}
.social ul li a i
{
	color: #ffffff;
	line-height: 32px;
}

.footer_bar_content
{
	height: 53px;
}
.copyright
{
	font-size: 12px;
	font-weight: 400;
	color: #46495a;
}
.footer_column
{
    padding-top: 26px;
    float: left;
}
.footer_title h3
{
	font-size: 18px;
	color: #ffffff;
}
.footer_list
{
    margin-top: 37px;
    float: left;
}
.footer_list ul li:not(:last-of-type)
{
    margin-bottom: 8px;
    list-style: none;
}
.footer_list ul li a
{
	font-size: 15px;
	font-weight: 400;
    color: #64677c;
    list-style: none;
}
.footer_list ul li a:hover
{
    color: #ff9908;
    list-style: none;
}
.super_container
{
	width: 100%;
    overflow: hidden;
}