<div class="container-fluid" style="background-color: rgb(40, 40, 40)">
  <div class="container" style="padding: 50px; background-color: rgb(40, 40, 40)">
    <div class="row">
      <div class="col-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link disabled text-white font-weight-bold">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Samsung Galaxy S33+</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Apple iPhone XSXX</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Samsung Galaxy Note 77</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Google Pixel XLarge 3</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link disabled text-white font-weight-bold">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link disabled text-white font-weight-bold">Socials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Twitter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">YouTube</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Instagram</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Facebook</a>
          </li>
        </ul>
      </div>
      <div class="col-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link disabled text-white font-weight-bold">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Online Ordering</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Shipping</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Customer Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center text-muted border-top border-secondary p-3">
    Devicer.com © 2019 / All Rights Reserved
  </div>

</div>