<div class="container">
  <div class="row">
    <div class="about col-3">
      <div class="colItem_1gq4">
        <h3 class="title_j9PX" style="color: aliceblue;font-size: 20px;">VỀ CHÚNG TÔI</h3>
        <ul>
          <li class="link_S171"><a href="#" rel="nofollow">Giới thiệu
              Website</a></li>
          <li class="link_S171"><a href="#" rel="nofollow">Giới thiệu
              Website</a></li>
          <li class="link_S171"><a href="#" rel="nofollow">Quy chế hoạt động</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="about col-3">
      <div class="colItem_1gq4">
        <h3 class="title_j9PX" style="color: aliceblue;font-size: 20px;">DÀNH CHO NGƯỜI MUA</h3>
        <ul>
          <li class="link_S171"><a href="#" rel="nofollow">Giải quyết
              khiếu nại</a></li>
          <li class="link_S171"><a href="#"
              rel="nofollow">Hướng dẫn mua hàng</a></li>
          <li class="link_S171"><a href="#" rel="nofollow">Chính sách
              đổi trả</a></li>
          <li class="link_S171"><a href="#" rel="nofollow">Chăm sóc khách hàng</a></li>
          <li class="link_S171"><a href="#" rel="nofollow">Nạp tiền điện thoại</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="about col-3">
      <div class="colItem_1gq4">
        <h3 class="title_j9PX" style="color: aliceblue;font-size: 20px;">DÀNH CHO NGƯỜI BÁN</h3>
        <ul>
          <li class="link_S171"><a href="#" rel="nofollow">Mở shop trên web</a></li>
          <li class="link_S171"><a href="#" rel="nofollow">Quy định đối với
              người bán</a></li>
          <li class="link_S171"><a href="#" rel="nofollow">Chính sách bán
              hàng</a></li>
          <li class="link_S171"><a href="#"
              rel="nofollow">Hệ thống tiêu chí kiểm duyệt</a></li>
        </ul>
      </div>
    </div>
    <div class="about   col-3">
      <div class="colItem_1gq4">
        <h3 class="title_j9PX" style="color: aliceblue;font-size: 20px;">Đăng ký nhận bản tin ưu đãi khủng từ Lê Mạnh Tuấn</h3>
        <div class="subscribeEmailBox_UPeg">
          <form class="">
            <div class="inputEmail_39P_ input-group"><input type="text" placeholder="Email của bạn là"
                aria-label="Đăng ký nhận bản tin ưu đãi" value="" class="form-control">
              <div class="input-group-append"><button class="btn btn-primary">Đăng ký</button></div>
            </div>
            <div class="radioGroup_26tH position-relative form-group"><label class="customRadio_1irM"><input
                  type="radio" name="gender-radio" value="nam" checked=""><span class="cirle_1mg4"></span><span
                  class="label_3kp0 mr-3" style="color: aliceblue;font-size: 20px;">Nam</span></label><label class="customRadio_1irM"><input type="radio"
                  name="gender-radio" value="nu"><span class="cirle_1mg4"></span><span
                  class="label_3kp0" style="color: aliceblue;font-size: 20px;">Nữ</span></label></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Copyright">
    
  Copyright@ <a href="#">Lê Mạnh Tuấn</a>
</div>