<!--== Scroll Top Area Start ==-->
<div class="scroll-top">
  <img src="assets/img/scroll-top.png" alt="JSOFT">
</div>
<!--== Scroll Top Area End ==-->
<div class="super_container">
  <footer class="footer">
    <div class="footer_content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 footer_col">

            <!-- Logo -->
            <div class="logo">
              <a href="#"></a>
              <div>
                <img src="http://pngimg.com/uploads/need_for_speed/need_for_speed_PNG46.png" alt="" width="430px">
              </div>
            </div>

            <div class="footer_text">
              <p>
                <i class="fas fa-map-marker-alt"></i> Cau Giay - Ha Noi - Viet Nam
                <br>
                <i class="fas fa-mobile-alt"></i> 035.3834.966 - 1900.6969
                <br>
                <i class="fas fa-envelope"></i> junnycp3@gmail.com</p>
            </div>
            <div class="social">
              <ul class="d-flex flex-row align-items-center justify-content-start">
                <li>
                  <a href="https://www.instagram.com/namgiang2608/">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/junnycp">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/Nam_Giangg/">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-2 offset-lg-1 footer_col">
            <div class="footer_column">
              <div class="footer_title">
                <h3>Useful Links</h3>
              </div>
              <div class="footer_list">
                <ul>
                  <li>
                    <a href="about.html">About us</a>
                  </li>
                  <li>
                    <a href="#">Testimonials</a>
                  </li>
                  <li>
                    <a href="#">Subscriptions</a>
                  </li>
                  <li>
                    <a href="#">Plans</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-2 footer_col">
            <div class="footer_column">
              <div class="footer_title">
                <h3>Features</h3>
              </div>
              <div class="footer_list">
                <ul>
                  <li>
                    <a href="about.html">About us</a>
                  </li>
                  <li>
                    <a href="#">Testimonials</a>
                  </li>
                  <li>
                    <a href="#">Subscriptions</a>
                  </li>
                  <li>
                    <a href="#">Plans</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-lg-2 footer_col">
            <div class="footer_column">
              <div class="footer_title">
                <h3>About us</h3>
              </div>
              <div class="footer_list">
                <ul>
                  <li>
                    <a href="about.html">About us</a>
                  </li>
                  <li>
                    <a href="#">Testimonials</a>
                  </li>
                  <li>
                    <a href="#">Subscriptions</a>
                  </li>
                  <li>
                    <a href="#">Plans</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="footer_bar">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="footer_bar_content d-flex flex-row align-items-center justify-content-start">
              <div class="copyright">
                Copyright
                <a routerLink="/admin">&copy;</a>
                <script>document.write(new Date().getFullYear());</script> All rights reserved | by GianglnPH06367 - FPT Polytechnic
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>