
<div class="container">
    <app-addproduct style="margin-top: 100px;"></app-addproduct>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name Products</th>
        <th scope="col">Price Regular</th>
        <th scope="col">Price Sale</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{product.id}}</th>
        <td><img src="{{product.img}}" alt="" srcset="" width="63px" height="63px" style="border-radius: 50px; border: 1px solid aquamarine;"></td>
        <td >
            <a routerLink="/product/{{product.id}}" class="text-reset">{{product.name}}</a>
          
        </td>
        <td >
          {{product.priceRegular}}
        </td>
        <td>
          {{product.priceSale}}
        </td>
        <td>
          {{product.status==true?"Còn Hàng":"Hết Hàng"}}
        </td>
        <td>
          <button type="button" class="btn btn-danger"  (click)="deleteItem(product.id)">Delete</button>
          &nbsp;
          <button type="button" class="btn btn-success">Edit</button>
        </td>

      </tr>


    </tbody>
  </table>
</div>