<div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a href="#"><img src="http://www.khoaitay.vn/images/logo-2.png" alt="" width="300px" height="75px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <ul class="nav justify-content-end">
          <li >
            <a class="nav-item nav-link active mr-3" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li>
            <a class="nav-item nav-link mr-3" routerLink="/contact">Contact</a>
          </li>
          <li>
            <a class="nav-item nav-link mr-3" routerLink="/manager">Manager</a>
          </li>
          <li>
            <a class="nav-item nav-link mr-3" routerLink="#">Cart</a>
          </li>
          <li>
            <a class="nav-item nav-link mr-3" routerLink="/product">Product</a>
          </li>
          <li>
            <a class="nav-item nav-link mr-3" routerLink="">FAG</a>
          </li>
        </ul>



        <!-- <a class="nav-item nav-link" href="#"><i class="fa fa-twitch"></i></a> -->

        <div class="dropdown">
          <button class="btn  dropdown-toggle btn-outline-light" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Lê Mạnh Tuấn
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Đổi Mật Khẩu</a>
            <a class="dropdown-item" href="#">Thông tin cá nhân</a>
            <hr>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </div>


      </div>
    </div>
  </nav>
</div>