<div class="jumbotron">
  <div class="container">

    
    <div class="vc_column-inner vc_custom_1502023095688">
      <div class="wpb_wrapper">
        <div class="mkdf-section-title-holder">
          <h2 class="mkdf-section-title" style="text-align: center;margin-bottom: 5px">
            Tầm nhìn</h2>
        </div>
        <div class="mkdf-separator-holder clearfix  mkdf-separator-center">
          <div class="mkdf-separator" style="border-color: #0d7de0;width: 50px;border-bottom-width: 4px"></div>
        </div>

        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <p>Cùng với sự phát triển của xã hội và thị trường công nghệ, Công ty Cổ phần Bán lẻ Kỹ thuật số FPT đã,
              đang và sẽ nỗ lực không ngừng để trở thành đối tác uy tín đối với các nhà sản xuất Kỹ thuật số hàng đầu
              thế giới, đồng thời là điểm đến tin cậy của khách hàng Việt Nam.</p>

          </div>
        </div>
        <div data-original-height="50" class="vc_empty_space" style="height: 50px">
          <span class="vc_empty_space_inner"></span></div>
        <div class="mkdf-section-title-holder">
          <h2 class="mkdf-section-title" style="text-align: center;margin-bottom: 5px">
            Sứ mệnh</h2>
        </div>
        <div class="mkdf-separator-holder clearfix  mkdf-separator-center">
          <div class="mkdf-separator" style="border-color: #0d7de0;width: 50px;border-bottom-width: 4px"></div>
        </div>

        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <p>Với mục tiêu mở rộng độ phủ cửa hàng trên toàn quốc, Công ty Cổ phần Bán lẻ Kỹ thuật số FPT hướng tới trở
              thành Hệ thống bán lẻ các sản phẩm Viễn thông Kỹ thuật số hàng đầu Việt Nam. Cùng với quy mô ngày càng
              lớn, FPT Shop sẽ cung cấp tới mọi tầng lớp khách hàng những trải nghiệm mua sắm tích cực, thông qua các
              sản phẩm Kỹ thuật số chính hãng chất lượng cao, giá cả cạnh tranh đi kèm dịch vụ chăm sóc khách hàng thân
              thiện, được đảm bảo bởi uy tín của doanh nghiệp.</p>

          </div>
        </div>
        <div data-original-height="50" class="vc_empty_space" style="height: 50px">
          <span class="vc_empty_space_inner"></span></div>
        <div class="mkdf-section-title-holder">
          <h2 class="mkdf-section-title" style="text-align: center;margin-bottom: 5px">
            Giá trị cốt lõi</h2>
        </div>
        <div class="mkdf-separator-holder clearfix  mkdf-separator-center">
          <div class="mkdf-separator" style="border-color: #0d7de0;width: 50px;border-bottom-width: 4px"></div>
        </div>

        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <ul>
              <li><strong>Chất lượng:&nbsp;</strong>Luôn đi đầu trong việc gây dựng uy tín, trách nhiệm để đảm bảo chất
                lượng sản phẩm, FPT Retail đem đến cho khách hàng sự an tâm tuyệt đối khi mua sắm các sản phẩm công
                nghệ.</li>
              <li><strong>Tin cậy:&nbsp;</strong>: Chữ “tín” chính là điều mà FPT Retail luôn chú trọng trong hoạt động
                phát triển thương hiệu, là điểm tựa niềm tin vững chắc cho khách hàng, là đối tác tin cậy với các hãng
                công nghệ.</li>
              <li><strong>Thân thiện:&nbsp;</strong>Hình ảnh FPT Retail thân thiện với khách hàng và tích cực trong các
                hoạt động cộng đồng chính là hướng đi lâu dài.</li>
              <li><strong>Chăm sóc:&nbsp;</strong>Với mục tiêu phục vụ khách hàng là ưu tiên số một, FPT Retail đang
                ngày càng hoàn thiện hơn chất lượng dịch vụ, đào tạo đội ngũ nhân viên nhiệt tình, trung thực, chân
                thành, làm hài lòng bất cứ khách hàng nào đến mua sắm.</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>