<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="5000">
        <img src="/assets/images/1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>New Collection</h1>
          <p>Introducing fashionable & gorgeous phone from design to stylish wearable</p>
        </div>
      </div>
      <div class="carousel-item" data-interval="5000">
        <img src="/assets/images/2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>New Collection</h1>
          <p>Introducing fashionable & gorgeous iMac from design to simple use</p>
        </div>
      </div>
      <div class="carousel-item" data-interval="5000">
        <img src="/assets/images/3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>New Collection</h1>
          <p>Introducing fashionable & gorgeous smartwatch from design to stylish wearable</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div style="width:100%; background-image:url(/assets/images/dot.jpg); background-repeat: repeat; padding: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-3 text-center">
        <div class="card-body bg-white border border-info rounded">
          <img style="width: 40px; height: 40px;" src="/assets/images/home.png">
          <h5 class="card-title">Home Shipping</h5>
          <p class="card-text text-muted">Free for all oder</p>
        </div>
      </div>
      <div class="col-3 text-center">
        <div class="card-body bg-white border border-info rounded">
          <img style="width: 40px; height: 40px;" src="/assets/images/paperplane.png">
          <h5 class="card-title">100% Refund</h5>
          <p class="card-text text-muted">Cash Back</p>
        </div>
      </div>
      <div class="col-3 text-center">
        <div class="card-body bg-white border border-info rounded">
          <img style="width: 40px; height: 40px;" src="/assets/images/shield.png">
          <h5 class="card-title">Clients Support</h5>
          <p class="card-text text-muted">Fast Service</p>
        </div>
      </div>
      <div class="col-3 text-center">
        <div class="card-body bg-white border border-info rounded">
          <img style="width: 40px; height: 40px;" src="/assets/images/rocket.png">
          <h5 class="card-title">Fast Delivery</h5>
          <p class="card-text text-muted">Best Service</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding: 50px;">
  <div class="row">
    <div class="col-6">
      <div class="card bg-dark text-white">
        <img src="/assets/images/featured1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title" style="font-size: 30px">New Apple iPhone</h5>
          <p class="card-text text-warning" style="font-size: 40px">$777</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card bg-dark text-white">
        <img src="/assets/images/featured2.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title" style="font-size: 30px">iMac Pro Xeon Radeon Vega</h5>
          <p class="card-text text-warning" style="font-size: 40px">$9000</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="width:100%; background-image:url(/assets/images/dot.jpg); background-repeat: repeat; padding: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-2"><img src="/assets/images/iphone.jpg"></div>
      <div class="col-2"><img src="/assets/images/samsung.jpg"></div>
      <div class="col-2"><img src="/assets/images/nokia.jpg"></div>
      <div class="col-2"><img src="/assets/images/oppo.jpg"></div>
      <div class="col-2"><img src="/assets/images/huawei.png"></div>
      <div class="col-2"><img src="/assets/images/xiaomi.png"></div>
    </div>
  </div>
</div>

<div style="width:100%; background-image:url(/assets/images/dot.jpg); background-repeat: repeat; margin-top: 1px">
  <div class="container text-center" style="padding: 50px;">
    <div>
      <h3>Newsletter Signup</h3>
      <input type="text" class="form-control rounded-pill d-inline m-3" placeholder="Your Email" style="width: 600px;">
      <p class="card-text">Never miss our great deals. Huge sale every week!</p>
    </div>
  </div>
</div>