<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding">
    <div class="container">
      <div class="row">
        <!-- Page Title Start -->
        <div class="col-lg-12">
          <div class="section-title  text-center">
            <h2>Product Infomation</h2>
            <span class="title-line">
              <i class="fa fa-car"></i>
            </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <!-- Page Title End -->
      </div>
    </div>
  </section>
  <!--== Page Title Area End ==-->
<div class="row">
  <div class="text-center">
    <div class="alert alert-success text-center">
      <img [src]="product.img" alt="" width="50%" class="rounded" height="300px">
      <strong><br>
        💎Name: {{product.name}}
        <br> 💰Price: {{product.priceRegular}}$
        <br> 🚦 Status: {{product.color?'Available 👍':'Unavailable 👎'}}
        <br> 🏆Rating:
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:30%">
            Fabulous
          </div>
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width:20%">
            Comfortable
          </div>
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width:50%">
            So fking expensive=))))
          </div>
        </div>
        <hr>
        INFOMATION EDIT
      </strong>
      <div class="text-left">
        <label>Name:</label>
        <input class="form-control" type="text" [(ngModel)]="product.name">
        <label>Price Regular:</label>
        <input class="form-control" type="text" [(ngModel)]="product.priceRegular">        
        <label>Image link:</label>
        <input class="form-control" type="text" [(ngModel)]="product.img">
      </div>
      <hr>
      <button type="button" class="btn btn-sm btn-success" (click)="save()">Save</button>
    </div>
  </div>
</div>