
  <div id="demo" class="carousel slide fixed" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://fptshop.com.vn/hoi-dap/Content/assets/images/noimage.jpg" alt="Los Angeles" width="100%"
          height="400">
        <div class="carousel-caption">
          <h3>FPT SHOP</h3>
          <p>Cửa hàng công nghệ hàng đầu việt nam!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://fptshop.com.vn/uploads/images/tin-tuc/71230/Originals/Anh%201%20_%20CB.jpg" alt="Chicago"
          width="100%" height="400">
        <div class="carousel-caption">
          <h3>Điện thoại thông minh</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://huymobile.vn/upload/default/image%20tin%20tuc/fptip8.png?1507352840116" alt="New York"
          width="100%" height="400">
        <div class="carousel-caption">
          <h3>Công ty cổ phần bán lẻ</h3>
          <p>chúng tôi xin cam kết!</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
