<div class="container p-4">
  <button type="button" style="margin-bottom:10px" class="btn btn-primary rounded-pill" data-toggle="modal"
    data-target="#newModal" (click)="new()">
    New Product
  </button>

  <div class="modal fade" id="newModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="action=='edit'" class="modal-title">Update product</h5>
          <h5 *ngIf="action=='add'" class="modal-title">New product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form #productForm="ngForm" (submit)="onSubmit(productForm)">
          <div class="modal-body">

            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" [(ngModel)]="product.name" required name="name"
                #spyName="ngModel">
            </div>
            <div class=" form-group">
              <label>Price</label>
              <input type="number" class="form-control" [(ngModel)]="product.price" required name="price">
            </div>

            {{spyName.className}}
            <div class="alert alert-danger" *ngIf="spyName.dirty && spyName.errors?.required">
              REQUIRED
            </div>

            <!-- <div class="form-group">
              <label>Image</label>
              <input type="text" class="form-control" [(ngModel)]="product.img">
            </div>
            <div class="form-group">
              <label>Detail</label>
              <input type="text" class="form-control" [(ngModel)]="product.detail">
            </div> -->

            <!--For input: [ngModelOptions]="{standalone: true} -->

          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit" [disabled]="productForm.invalid">Submit</button>
            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addProduct()" data-dismiss="modal"
            *ngIf="action=='add'">Save</button>
          <button type="button" class="btn btn-primary" (click)="update()" data-dismiss="modal"
            *ngIf="action=='edit'">Update</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price($)</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pro of products">
        <td>{{pro.id}}</td>
        <td>{{pro.name}}</td>
        <td>{{pro.price}}</td>
        <td>
          <button class="btn btn-primary rounded-pill" data-toggle="modal" data-target="#newModal"
            (click)="edit(pro)">Edit</button>
        </td>
        <td>
          <button class="btn btn-primary rounded-pill" (click)="delete(pro.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>