<main>
    <div class="row">
      <div class="col-3">
        sidebar
      </div>
      <div class="col-9">
        <div class="card-deck">
          <div class="card">
            <img src="{{imgLynk}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{cart_title}}</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
                <p>{{statusProduct ? 'Còn hàng':'Hết hàng'}}</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary">Action</button>
            </div>
          </div>
          <div class="card">
            <img src="{{imgLynk}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{cart_title}}</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p>{{statusProduct ? 'Còn hàng':'Hết hàng'}}</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary">Action</button>
            </div>
          </div>
          <div class="card">  
            <img src="{{imgLynk}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{cart_title}}</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
                <p>{{statusProduct ? 'Còn hàng' : 'Hết hàng'}}</p>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary">Action  </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>