<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding">
  <div class="container">
      <div class="row">
          <!-- Page Title Start -->
          <div class="col-lg-12">
              <div class="section-title  text-center">
                  <h2>Our Services</h2>
                  <span class="title-line"><i class="fa fa-car"></i></span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
          </div>
          <!-- Page Title End -->
      </div>
  </div>
</section>
<!--== Page Title Area End ==-->

<!--== Service Page Content Start ==-->
<section id="service-page-wrapper" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Single Services Start -->
        <div class="single-service-item">
          <div class="service-item-thumb ser-thumb-bg-1"></div>
          <div class="service-item-content">
            <h3>RENTAL CAR</h3>
            <p>
              <i class="fas fa-check"></i> Easy and Fast - Book a car in 60 seconds
              <br>
              <i class="fas fa-check"></i> No credit card or booking fees
              <br>
              <i class="fas fa-check"></i> Convenient to view or cancel reservations
              <br>
              <i class="fas fa-check"></i> Rent a car coupons and deals
              <br>
              <i class="fas fa-check"></i> Special prices available here</p>
          </div>
        </div>
        <!-- Single Services End -->

        <!-- Single Services Start -->
        <div class="single-service-item">
          <div class="service-item-thumb ser-thumb-bg-2 d-lg-none d-md-block"></div>
          <div class="service-item-content">
            <h3>LIFE INSURANCE</h3>
            <p>
              <i class="fas fa-check"></i> Less Wait Time: Get a taxi catering for you with just 2 touches.
              <br>
              <i class="fas fa-check"></i> More Taxis: we have taxi for all your need!
              <br>
              <i class="fas fa-check"></i> Know the Fares: Know the cost estimation and direction before you get the taxi so you can plan time and
              budget ahead.
              <br>
              <i class="fas fa-check"></i> Safety: Get to know your driver, ride safe and arrive safe with “share my ride" function.</p>
          </div>
          <div class="service-item-thumb ser-thumb-bg-2 d-none d-lg-block d-md-none"></div>
        </div>
        <!-- Single Services End -->

        <!-- Single Services Start -->
        <div class="single-service-item">
          <div class="service-item-thumb ser-thumb-bg-3"></div>
          <div class="service-item-content">
            <h3>TAXI SERVICE</h3>
            <p>
              <i class="fas fa-check"></i> Less Wait Time: Get a taxi catering for you with just 2 touches.
              <br>
              <i class="fas fa-check"></i> More Taxis: we have taxi for all your need!
              <br>
              <i class="fas fa-check"></i> Know the Fares: Know the cost estimation and direction before you get the taxi so you can plan time and
              budget ahead.
              <br>
              <i class="fas fa-check"></i> Safety: Get to know your driver, ride safe and arrive safe with “share my ride" function.</p>
          </div>
        </div>
        <!-- Single Services End -->

        <!-- Single Services Start -->
        <div class="single-service-item">
          <div class="service-item-thumb ser-thumb-bg-4 d-lg-none d-md-block"></div>
          <div class="service-item-content">
            <h3>CALL DRIVER</h3>
            <p>
              <i class="fas fa-check"></i> Pioneer and Leader in driver hire services.
              <br>
              <i class="fas fa-check"></i> Large team of experienced, reliable & professional drivers having thorough knowledge of the city.
              <br>
              <i class="fas fa-check"></i> All our drivers have a minimum of 3+ years driving experience.
              <br>
              <i class="fas fa-check"></i> All our drivers undergo a thorough background and criminal record check.
              <br>
              <i class="fas fa-check"></i> Fast and efficient service / customer response backed by robust IT systems.</p>
          </div>
          <div class="service-item-thumb ser-thumb-bg-2 d-none d-lg-block d-md-none"></div>
        </div>
        <!-- Single Services End -->
      </div>
    </div>
  </div>
</section>
<!--== Service Page Content End ==-->