<body class="loader-active">

    <!--== Preloader Area Start ==-->
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="assets/img/preloader.gif" alt="JSOFT">
            </div>
        </div>
    </div>
    <!--== Preloader Area End ==-->
<app-header>
</app-header>
<div>
  <section class="home_banner_area">
    <div class="overlay"></div>
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content row">
          <div class="offset-lg-2 col-lg-8">
            <h3>
              Super Car Collection
            </h3>
            <p>WORLD'S BEST SUPER CAR COLLECTION</p>
            <p>
              📞 Contact with us:
              <a href="#">1900 6969</a> -
               <a href="#">0353834966</a>
              <br>📬 For more infomation and supporting:
              <a href="https://www.facebook.com/junnycp">junnycp3@gmail.com</a>
              <br> Copyright &copy; 2019 | All rights reserved by GianglnPH06367 - FPT Polytechnic
            </p>
            <a class="btn btn-dark" routerLink="/product/page/1">
              <span class="glyphicon glyphicon-picture"></span>⚜️Discover the collection⚜️</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<br>
<router-outlet></router-outlet>
<app-footer></app-footer>
</body>