/*==============================
    $404 ERROR Page Css
================================*/

#page-404-wrap {
	background-image: url("../../../assets/img/banner.jpg");
	background-position: center center;
	background-size: cover;
	color: #fff;
	padding-top: 350px;
}

.number {
	display: table;
    margin: auto;
    padding-bottom: 15px;
}

.four {
	color: #ffd000;
	font-size: 150px;
	font-weight: 400;
	line-height: 100%;
	font-family: 'Monoton', cursive;
}

.four,
.zero {
	display: table-cell;
	vertical-align: middle;
}

.zero > img {
	margin-left: 5px;
	margin-top: 5px;
	width: 150px;
}

.page-404-content h4 {
	color: #fff;
	font-size: 30px;
	margin: 10px 0 15px;
}

.page-404-content {
	font-size: 15px;
    font-weight: 600;
    padding-bottom: 200px;
}

.btn-404-home {
	background-color: #ffd000;
	color: #000;
	display: inline-block;
	font-size: 13px;
	margin-top: 20px;
	padding: 12px 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-404-home:hover {
    color: rgb(38, 140, 165);
    background-color: #000;
}

.btn-404-home i.fa {
	margin-right: 5px;
}

#page-404-wrap.overlay::after {
	background-color: rgba(0, 0, 0, 0.9);
}