<header class="header">
  <div class="header_content d-flex flex-row align-items-center justify-content-start">

    <!-- Hamburger -->
    <div class="hamburger menu_mm"><i class="fa fa-bars menu_mm" aria-hidden="true"></i></div>

    <!-- Logo -->
    <div class="header_logo">
      <a href="#"><div>Dat<span>star</span></div></a>
    </div>

    <!-- Navigation -->
    <nav class="header_nav">
      <ul class="d-flex flex-row align-items-center justify-content-start">
        <li><a href="index.html">home</a></li>
        <li><a href="#">woman</a></li>
        <li><a href="#">man</a></li>
        <li><a href="#">lookbook</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">contact</a></li>
      </ul>
    </nav>

    <!-- Header Extra -->
    <div class="header_extra ml-auto d-flex flex-row align-items-center justify-content-start">

      <!-- Language -->
      <div class="info_languages has_children">
        <div class="language_flag"><img src="../assets/images/flag_6.png"></div>
        <div class="dropdown_text">Việt Nam</div>
        <div class="dropdown_arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>

        <!-- Language Dropdown Menu -->
        <ul>
          <li><a href="#">
            <div class="language_flag"><img src="../assets/images/flag_1.svg"></div>
            <div class="dropdown_text">English</div>
          </a></li>
        </ul>

      </div>

      <!-- Currency -->
      <div class="info_currencies has_children">
        <div class="dropdown_text">VND</div>
        <div class="dropdown_arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>

        <!-- Currencies Dropdown Menu -->
        <ul>
          <li><a href="#">
            <div class="dropdown_text">USD</div>
          </a></li>

        </ul>

      </div>


    </div>

  </div>
</header>
