<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://images2.alphacoders.com/720/720032.jpg" width="100%" height = "500px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.mobafire.com/images/champion/skins/landscape/vayne-heartseeker.jpg" width="100%" height = "500px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://vignette.wikia.nocookie.net/leagueoflegends/images/9/97/Vayne_AristocratSkin.jpg/revision/latest/scale-to-width-down/340?cb=20181021121237" width="100%" height = "500px" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<br>

<div class="jumbotron">
    <h1 class="display-4">Shauna Vayne</h1>
    <p class="lead">Shauna Vayne is a deadly, remorseless monster hunter who has pledged her life to finding and killing the demon who murdered her family. Armed with her wrist-mounted crossbows and a heart full of vengeance, Vayne is only truly happy when she’s slaying practitioners or creations of the dark arts.</p>
    <hr class="my-4">
    <p>As the only child to a wealthy Demacian couple, Vayne enjoyed an upbringing of privilege. She spent most of her ...</p>
    <button type="button" class="btn btn-outline-dark btn-lg" data-toggle="modal" data-target="#exampleModalLong">
        Read more
      </button>   
      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Shauna Vayne</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                As the only child to a wealthy Demacian couple, Vayne enjoyed an upbringing of privilege. She spent most of her childhood indulged in solitary pursuits – reading, learning music, and avidly collecting the various insects found on their manor’s grounds. Her parents had traveled across Runeterra in their youth, but settled in Demacia after Shauna’s birth because more than any place they’d found, Demacians looked out for one another.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>

